# streamlit
# pandas
# #numpy<2.0
# numpy==1.26.4
# plotly
# xgboost
# joblib
# scikit-learn



streamlit
pandas
numpy>=2.0
scikit-learn>=1.5.2
xgboost>=2.1.4
joblib
shap>=0.45.0
plotly>=5.0.0
matplotlib>=3.0.0